/*--------------- Basic Setup -----------*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

html {
    background-color: #eee;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body:: -webkit-scrollbar {
	display: none;
}
h2 {
    font-size: 50px;
    font-weight: 100;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: ".";
        clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*--------------- Reusable Components -----------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}


.box {
    padding: 1%;
}

/*----------------------------*/
	/* Navigation & Whatnot */
/*----------------------------*/

.navbar li:hover {
	background-color: #32bdee;
}

.navbar-brand a:hover {
	color: #3498DB;
}
.navbar .active {
	color: #fff;
}


/*----------------------------*/
	/* Introduction & Stuff */
/*----------------------------*/

.jumbotron {
	background-image: url('img/macbook.jpg');
	background-position: cover;
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 30rem;
	text-align: left;
	word-spacing: 1px;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
}

.jumbotron h1 {
	color: #3498DB;
	margin-top: 150px;
	
}
.jumbotron small {
	text-transform: uppercase;
}




/*----------------------------*/
	/* Projects & Works */
/*----------------------------*/
.carousel {
	height: 30rem;
	margin: 0;
	padding: 0;
}

.carousel h2 {
	text-align: center;
}


.carousel img {
	height: 40rem;
}


/*----------------------------*/
	/* About Section */
/*----------------------------*/
.about {
	background-image: linear-gradient(rgba(255,225,225,0.5),rgba(255,225,225,0.5)),url('img/macbook.jpg');
	background-position: cover;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 30rem;
	text-align: center;
}

.about h2 {
	padding-top: 50px;
}

.about .me {
	border-radius: 100%;
}


/*----------------------------*/
	/* Footer Section */
/*----------------------------*/
