/*--------------- Basic Setup -----------*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

html {
    background-color: #eee;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body:: -webkit-scrollbar {
	display: none;
}
h2 {
    font-size: 50px;
    font-weight: 100;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: ".";
        clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*--------------- Reusable Components -----------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}


.box {
    padding: 1%;
}

/*----------------------------*/
	/* Navigation & Whatnot */
/*----------------------------*/

.navbar li:hover {
	background-color: #32bdee;
}

.navbar-brand a:hover {
	color: #3498DB;
}
.navbar .active {
	color: #fff;
}


/*----------------------------*/
	/* Introduction & Stuff */
/*----------------------------*/

.jumbotron {
	background-image: url('../img/dapper.jpeg');
	background-position: 100%;
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 40rem;
	text-align: left;
	word-spacing: 1px;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	margin-bottom: -20px;
}

.jumbotron h1 {
	color: #3498DB;
	margin-top: 150px;
	
}
.jumbotron small {
	text-transform: uppercase;
}




/*----------------------------*/
	/* Projects & Works */
/*----------------------------*/
.carousel {
	height: 35rem;
	margin: 0;
	padding: 0;
	background-color: #3498DB;
}

.carousel h2 {
	text-align: center;
	padding-top: 20px;
}


.carousel img {
	height: 30rem;
}
.carousel .thumbnail {
	background-color: #3498DB;
	border:none;
}

.carousel button {
	margin-left: 670px;
}

/*----------------------------*/
	/* Services Section */
/*----------------------------*/
.services {
	height: 40rem;
}
.services .panel {
	text-align: center;
	padding: 10px;
}
.more-services {
	text-align: center;
	font-family: Slim Joe;
}
.more-services .thumbnail{
	border: none;
	padding: 15px;
}
.more-services img {
	height: 100px;
	color: gray;
}
/*----------------------------*/
	/* About Section */
/*----------------------------*/
.about {
	background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)),url('../img/macbook.jpg');
	background-position: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	height: 30rem;
	text-align: center;
}

.about h2 {
	padding-top: 50px;
}

.about .me {
	border-radius: 100%;
}
.about-icons {
	font-size: 16px;
	color: #000;
	text-decoration: none;
}
/*----------------------------*/
	/* Contact Section */
/*----------------------------*/
.contact {
	height: 10rem;
}
.container .contact-heading h2 {
	text-align: center;
	text-transform: uppercase;
	font-family: Slim Joe;
}

.contact .message input{
	border: none;
	border-bottom: 1px solid #3498DB;
	max-width: 760px;
}
/*----------------------------*/
	/* Footer Section */
/*----------------------------*/
.footer {
	background-color: #3498DB;
	height: 10rem;
}
.footer-left {
	float: left;
	display: inline-block;
}
.footer-links a {
	font-size: 20px;
}
.footer-center {
	float:right;
	text-align: center;
	display: block;
	padding: 20px;
}
.footer-company-name {
	text-align: center;
}
.footer-icons {
	padding: 10px;
	font-size: 26px;
}