<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="works.css">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,300italic' rel='stylesheet' type='text/css'>
	<title>Deaundrie Howard | Projects </title>
</head>
<body>
		<!-- Navigation & Whatnot -->
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Deaundrie Howard </a>
			</div>
			<div class="navbar-collapse collapse pull-right">
				<ul class="nav navbar-nav">
					<li><a href="../index.html"> Home</a> </li>
					<li><a href="https://deaundrie.wordpress.com/"> Blog </a></li>
					<li class="dropdown active">
						<a href="#"> Portfolio </a>
					<li><a href="#about"> About </a></li>
					<li><a href="../contact.php"> Contact</a></li>
					</li>
				</ul>
			</div>
			</div>
		</div><!-- End of Nav -->

	<!-- Image Grid --> 
		<div class="jumbotron">
			<h2 style="text-align: center;"> Projects & Works </h2>
		</div>
		<!-- Modal Section -->
			<div class="container">
				<div class="row">
				<!-- Project 1 -->
					<div class="thumbnail col-md-3">
						<img src="../img/rgb-game.png" alt="Fizz Buzz Refactored">
						<div class="caption">
										<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary btn-lg modal-btn" data-toggle="modal" data-target="#myModal">
							  View Description 
							</button>

						<!-- Modal -->
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h4 class="modal-title" id="myModalLabel">RGB Color Game</h4>
							      </div>
							      <div class="modal-body">
							        <h5> With the assistance of a tutorial and the tools I learned from a course I took on Udemy, I created this RGB Color web application. </h5> 
							        <h5> Technical Skills Used: 
							        HTML, CSS, JavaScript, and JQuery </h5>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							      </div>
							    </div>
							  </div>
							</div>
						</div>
					</div>

			<!-- End of Modal --> 
				</div>
			</div>
	<!-- End of Grid --> 

	<!-- Footer Section --> 
	<!-- End of Footy --> 

	<!-- Javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="main.js"></script>

</body>
</html>